{% extends "PapillonTasksBundle::layout.html.twig" %}

{% block title %}Papillon | Projects {% endblock title %}

{% block content %}

    <div class="newtask">
        <h2>Mes projets</h2>
    </div>

    <div class="nonborderbox">
        <div class="box-element">
            <div class="box-head-light"><h5>Projets</h5></div>
            <div class="box-content no-padding grey-bg">
                <table id="tasks_list" class="display" cellspacing="0" cellpadding="0" border="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Customer</th>
                        <th>Opening</th>
                        <th>Closing</th>
                    </tr>
                    </thead>
                </table>

                <img id="preloading" src="{{ asset('bundles/papillonuser/images/preloader.gif') }}" class="center-block"
                     alt="loiding...">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <script type="text/javascript" charset="utf-8">

        $(function () {

            sendAjaxRequest('{{ path('papillon_all_projects') }}'
            ).done(function (data) {
                        var tasks = [];
                        $('#badge_project').html(data.length);
                        $.each(data, function (key, value) {

                            tasks.push([
                                value['name'],
                                value['type'],
                                value['customers']['name'],
                                dateFormatter(value['date_closing']),
                                dateFormatter(value['date_opening']),
                            ]);

                        });

                        buildDataTable('#tasks_list', tasks);
                    })

        });

    </script>

{% endblock %}
