{% extends "PapillonTasksBundle::layout.html.twig" %}

{% block title %}Papillon | Projects {% endblock title %}

{% block content %}

    <div style="padding-bottom: 10px;" class="pull-right">
        <a class="btn btn-success btn-sm" role="button"><span class="glyphicon glyphicon-download"></span> Export CSV</a>
        <a class="btn btn-success btn-sm" role="button"><span class="glyphicon glyphicon-download"></span> Export PDF</a>
        <a href="{{ path('new_project') }}" class="btn btn-success btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add</a>
    </div>
    <div class="clearfix"></div>

    <div class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <div class="form-inline">
                    <div class="col-sm-12 text-right">
                        <div class="form-group">
                            <input type="text" placeholder="Search"  class="dataTables_filter form-control" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="panel-body">
            <table class="table table-hover dataTable table-striped width-full" data-plugin="dataTable" id="project_list">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Project</th>
                    <th>Customer</th>
                    <th>Opening</th>
                    <th>Closing</th>
                    <th></th>
                </tr>
                </thead>
            </table>

            <img id="preloading" src="{{ asset('bundles/papillonuser/images/preloader.gif') }}" class="center-block" alt="Loading...">

            <div class="clearfix"></div>

        </div>
    </div>


    <script type="text/javascript" charset="utf-8">

        $(function () {

            sendAjaxRequest('{{ path('papillon_all_projects') }}').done(function (data) {

                var aData = [];
                $('#badge_project').html(data.length);

                if (data){

                    $.each(data, function (key, value) {

                        aData.push([
                            '<a href="#">'+value['id']+'</a>',
                            value['name'],
                            value['customers']['name'],
                            dateFormatterZone(value['date_opening'], 'DD MMM YYYY'),
                            dateFormatterZone(value['date_closing'], 'DD MMM YYYY'),
                        ]);

                    });

                }

                var oTable = DataTableBuilder.init('#project_list', {
                    "aaSorting": [[1, "asc"]],
                    "aaData": aData,
                    "sDom" : 'ltipr',
                    "aoColumns": [
                        {"sClass": "center" , "bSortable": false },
                        null,
                        null,
                        {"sClass": "center"},
                        {"sClass": "center"},
                        {"mData": null, "sWidth": "10%" ,"sClass": "center", "bSearchable": false, "bSortable": false}
                    ],
                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {

                        var bAction = '<a href="#" type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span></a>&nbsp';
                            bAction += '<a href="#" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>';

                        $('td:eq(5)', nRow).html(bAction);
                        return nRow;
                    }
                } );

            })

        });

    </script>

{% endblock %}
