<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        {% stylesheets filter="cssrewrite"
        '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'

        '@PapillonUserBundle/Resources/public/css/papillon.css'
        '@PapillonUserBundle/Resources/public/css/custom-forms.css'

        '@PapillonUserBundle/Resources/public/css/datatables/dataTables.bootstrap.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block javascripts %}

        {% javascripts

        '%kernel.root_dir%/../vendor/components/jquery/jquery.js'
        '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'

        '@PapillonUserBundle/Resources/public/js/datatables/jquery.dataTables.js'
        '@PapillonUserBundle/Resources/public/js/datatables/dataTables.bootstrap.js'

        '@PapillonUserBundle/Resources/public/js/highcharts/highcharts.js'
        '@PapillonUserBundle/Resources/public/js/highcharts/papi-graph.js' %}
        <script src="{{ asset_url }}"></script>

        {% endjavascripts %}
    {% endblock %}

</head>
<body>

{% block header %}{% endblock %}

<div class="container">
    {% block content %}{% endblock %}
</div>


</body>
</html>
