<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            {% stylesheets '@PapillonUserBundle/Resources/public/css/nyroModal.css' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {# block javascripts #}
        {% block javascripts %}

            {% javascripts
            '@PapillonUserBundle/Resources/public/js/jquery-1.11.0.min.js'
            '@PapillonUserBundle/Resources/public/js/jquery.nyroModal.custom.js' %}
            <script src="{{ asset_url }}"></script>

            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
