{% extends "PapillonUserBundle::layout.html.twig" %}

{% block title %}Papillon | Tasks {% endblock title %}

{% block content %}

    <div class="container">

        <div class="newtask">
            <h2>mes activités</h2>
        </div>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>priority</th>
                <th>status</th>
                <th>dateCreated</th>
            </tr>
            </thead>
            <tbody>

            {% for item in tasks %}
                <tr>
                    <td>{{ item.priority }}</td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.createdAt|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        </div>


    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $('#example').dataTable();


            // For demo to fit into DataTables site builder...
            $('#example')
                    .removeClass( 'display' )
                    .addClass('table table-striped table-bordered');
        } );
    </script>
{% endblock %}
