{% extends "PapillonUserBundle::layout.html.twig" %}

{% block title %}Papillon | Tasks {% endblock title %}

{% block content %}

    <div id="content_wrapper">

        <div class="newtask">
            <h2>mes activités</h2>
        </div>

        <fieldset class="filtre">

        </fieldset>

    </div>

{% endblock %}
