{% extends '::base.html.twig' %}

{% block header %}

    <div id="header" class="png_bg">

        <div id="head_wrap">

            <div id="logo">
                <a href="<?php echo url_for('activite/index'); ?>">
                    <img src="<?php echo image_path('macket/logo.png')?>" alt="Logo" class="png_bg"/>
                </a>
            </div>

            <br>

            <div id="login">

                <p>Bonjour <span class="highlight">&nbsp;
                  Hassan Absike &nbsp;</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;15/05/2014
                    <span class="highlight">&nbsp;</span>
                 </p>
            </div>

            <div id="nav">
                <ul>
                    <li><a href="" class="png_bg">Mes activités</a></li>
                    <li><a href="" class="png_bg">Alertes</a></li>
                    <li><a href="" >Administration</a></li>
                    <li><a href=""class="png_bg">Mes projets</a></li>
                    <li><a href="" class="png_bg">Clients</a></li>
                    <li><a href="" class="active png_bg">Dashboard</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}" class="png_bg">Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}