<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    {% stylesheets output='css/login.min.css'
    '@PapillonUserBundle/Resources/public/css/bootstrap.min.css'
    '@PapillonUserBundle/Resources/public/css/papillon.css'
    '@PapillonUserBundle/Resources/public/css/nyroModal.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

</head>
<body>
<div>
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>
