<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    {% stylesheets filter="cssrewrite"
    '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

</head>
<body>
<div>
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>
