{% extends "PapillonUserBundle::login.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2"  style="margin-top:50px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please sign in</h3>
                    </div>
                    <div class="panel-body">
                        <form accept-charset="UTF-8" role="form" action="{{ path("fos_user_security_check") }}" method="post">
                            <fieldset>

                                {% if error %}
                                    <div class="alert alert-danger">
                                        {{ error|trans }}
                                    </div>
                                {% endif %}

                                <div class="form-group">
                                    <input class="form-control" type="text" name="_username" placeholder="Username or E-mail" autofocus>
                                </div>

                                <div class="form-group">
                                    <input class="form-control" type="password" value="" name="_password" placeholder="Password">
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <a class="pull-right" href="#">Forgot password?</a>
                                        <input name="_remember_me" type="checkbox" value="Remember Me"> Remember Me
                                    </label>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <input type="submit" class="btn btn-success btn-block" value="Sign In">
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <a href="" class="btn btn-primary btn-block">Register</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">

        //document.getElementById("username").focus();
        //$('.nyroModal').nyroModal();

    </script>

{% endblock fos_user_content %}



