{% extends "PapillonUserBundle::layout.html.twig" %}

{% block title %}Bootstrap 3 | Components {% endblock title %}

{% block content %}

    <div id="content_wrapper">


    <fieldset class="">


    <blockquote>
        <h2>Bootstrap 3 Form</h2>
    </blockquote>


    <form role="form">

        <div class="form-group">
            <label for="exampleInputEmail1">inputs</label>
            <input type="text" class="form-control" placeholder="Text input">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>


        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile">

            <p class="help-block">Example block-level help text here.</p>
        </div>

        <div class="form-group">
            <select class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <select multiple class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

        </div>


        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <h2>Control sizing</h2>

    <form role="form">

        <div class="form-group">
            <label for="exampleInputEmail1">inputs huge</label>
            <input type="text" class="form-control input-hg" placeholder="input-hg">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">input large</label>
            <input class="form-control input-lg" type="text" placeholder=".input-lg">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">input defaults</label>
            <input class="form-control" type="text" placeholder="Default input">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">input small</label>
            <input class="form-control input-sm" type="text" placeholder=".input-sm">
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-2">
                    <input type="text" class="form-control" placeholder=".col-xs-2">
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" placeholder=".col-xs-3">
                </div>
                <div class="col-xs-4">
                    <input type="text" class="form-control" placeholder=".col-xs-4">
                </div>
            </div>

        </div>

    </form>

    <h2>Disabled Form</h2>

    <form role="form">
        <fieldset disabled>
            <div class="form-group">
                <label for="disabledTextInput">Disabled input</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
            </div>
            <div class="form-group">
                <label for="disabledSelect">Disabled select menu</label>
                <select id="disabledSelect" class="form-control">
                    <option>Disabled select</option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Can't check this
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>


    <h2>Validation states</h2>

    <form role="form">
        <div class="form-group has-success">
            <label class="control-label" for="inputSuccess1">Input with success</label>
            <input type="text" class="form-control" id="inputSuccess1">
        </div>
        <div class="form-group has-warning">
            <label class="control-label" for="inputWarning1">Input with warning</label>
            <input type="text" class="form-control" id="inputWarning1">
        </div>
        <div class="form-group has-error">
            <label class="control-label" for="inputError1">Input with error</label>
            <input type="text" class="form-control" id="inputError1">
        </div>

    </form>


    <h2>Headings</h2>

    <h1>h1. Bootstrap heading</h1>
    <h2>h2. Bootstrap heading</h2>
    <h3>h3. Bootstrap heading</h3>
    <h4>h4. Bootstrap heading</h4>
    <h5>h5. Bootstrap heading</h5>
    <h6>h6. Bootstrap heading</h6>


    <h2>Notice</h2>

    <div class="bs-example bs-example-bg-classes">
        <p class="bg-primary notice">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="bg-success notice">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
        <p class="bg-info notice">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        <p class="bg-warning notice">Etiam porta sem malesuada magna mollis euismod.</p>
        <p class="bg-danger notice">Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>

    <p class="text-muted">Etiam porta sem malesuada magna mollis euismod.</p>
    <p class="text-primary">Etiam porta sem malesuada magna mollis euismod.</p>
    <p class="text-success">Etiam porta sem malesuada magna mollis euismod.</p>
    <p class="text-info">Etiam porta sem malesuada magna mollis euismod.</p>
    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
    <p class="text-danger">Etiam porta sem malesuada magna mollis euismod.</p>


    <h2>Buttons</h2>

    <form role="form">

        <p>
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
        </p>

        <p>
            <button type="button" class="btn btn-primary btn-lg">Large button</button>
            <button type="button" class="btn btn-default btn-lg">Large button</button>
        </p>
        <p>
            <button type="button" class="btn btn-primary">Default button</button>
            <button type="button" class="btn btn-default">Default button</button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-sm">Small button</button>
            <button type="button" class="btn btn-default btn-sm">Small button</button>
        </p>
        <p>
            <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
            <button type="button" class="btn btn-default btn-xs">Extra small button</button>
        </p>

    </form>



    <h2>Progress bar</h2>

    <div class="progress">
        <div class="progress-bar" style="width: 45%;"></div>
    </div>

    <div class="progress">
        <div class="progress-bar" style="width: 40%;"></div>
        <div class="progress-bar progress-bar-warning" style="width: 10%;"></div>
        <div class="progress-bar progress-bar-danger" style="width: 10%;"></div>
        <div class="progress-bar progress-bar-success" style="width: 10%;"></div>
        <div class="progress-bar progress-bar-info" style="width: 10%;"></div>
    </div>


    </fieldset>

    </div>

{% endblock %}