{% extends "PapillonTasksBundle::layout.html.twig" %}

{% block title %}Papillon | Customers {% endblock title %}

{% block content %}

    <div style="text-align:right;width:100%;">
        <a class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-download"></span> Export
            CSV</a>
        <a class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-download"></span> Export
            PDF</a>
        <a class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add</a>
    </div>

    <div class="nonborderbox">
        <div class="box-element">
            <div class="box-head-light"><h5>Mes Clients</h5></div>
            <div class="box-content no-padding grey-bg">
                <table id="customers_list" class="display" cellspacing="0" cellpadding="0" border="0">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Adresse</th>
                        <th>Phone</th>
                        <th>Fax</th>
                    </tr>
                    </thead>
                </table>

                <img id="preloading" src="{{ asset('bundles/papillonuser/images/preloader.gif') }}" class="center-block"
                     alt="loiding...">

                <div class="clearfix"></div>
            </div>
        </div>
    </div>


    <script type="text/javascript" charset="utf-8">
        $(function () {

            sendAjaxRequest('{{ path('papillon_all_client') }}').done(function (data) {

                        var customers = [];

                        if (!data['error']['code']) {

                            $.each(data, function (key, value) {
                                customers.push([
                                    value['name'],
                                    value['adresse'],
                                    value['phone'],
                                    value['fax'],
                                ]);
                            });
                        }
                        buildDataTable('#customers_list', customers);
                    });
        });
    </script>

{% endblock %}
