{% extends "PapillonTasksBundle::layout.html.twig" %}

{% block title %}Papillon | Customers {% endblock title %}

{% block content %}

    <div style="text-align:right;width:100%;">
        <a class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-download"></span> Export
            CSV</a>
        <a class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-download"></span> Export
            PDF</a>
        <a href="{{ path('new_customer') }}" class="btn btn-info btn-sm" role="button"><span
                    class="glyphicon glyphicon-plus"></span> Add</a>
    </div>


    <!-- Panel Basic -->
    <div class="panel">
        <header class="panel-heading">
            <div class="panel-actions"></div>
            <h3 class="panel-title">Customers</h3>
        </header>
        <div class="panel-body">
            <table class="table table-hover dataTable table-striped width-full" data-plugin="dataTable" id="customers_list">
            </table>
        </div>
    </div>
    <!-- End Panel Basic -->

    <script type="text/javascript" charset="utf-8">
        $(function () {

            $("#customers_list").dataTable({
                "responsive": true,
                "bDestroy": true,
                //"sDom": "t" , // just show table, no other controls
                "aaSorting": [[1, "asc"]],
                "oLanguage": {
                    sLoadingRecords: '<img src="{{ asset('bundles/papillonuser/images/preloader.gif') }}" class="center-block" alt="loiding...">',
                },
                "sAjaxSource": Routing.generate('_ajaxProxy'),
                "fnServerData": function (sUrl, aoData, fnCallback) {
                    $.ajax({
                        dataType: 'json',
                        type: "POST",
                        url: sUrl,
                        data: {restUrl: "{{ path('papillon_all_client') }}", method: 'GET'}
                    }).done(function (data) {
                        fnCallback(data);
                    });
                },
                "aoColumns": [
                    {"sTitle": "#" , "bSortable": false  , "sClass": "center"},
                    {"sTitle": "Name"},
                    {"sTitle": "Adresse"},
                    {"sTitle": "Phone"},
                    {"mData": null, "sWidth": "5%" , "sClass": "center" , "bSearchable": false, "bSortable": false}
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {

                    $('td:eq(0)', nRow).html('<a href="">'+aData[0]+'</a>');

                    var bAction = '<div data-id="' + aData[0] + '">';
                    bAction += '<a href="#" type="button" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-edit"></span></a>&nbsp';
                    bAction += '<a href="#" type="button" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>';
                    bAction += '</div>';

                    $('td:eq(4)', nRow).html(bAction);
                    return nRow;
                }
            });


        });
    </script>

{% endblock %}
