/* =============================================================================
   Base
   ========================================================================== */

html, body, div, span, a, img, form, label,
table, tbody, thead, tr, th, td {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
}


body p {
    font-size: 12px;
}

body, button, input, select, textarea, .ui-widget {
    font-family: "Lucida Grande", verdana, "Lucida Sans Unicode", sans-serif;
    color: #222;
}

.nonborderbox *
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.no-padding {
    padding: 0 !important;
}

.notice {
    padding: 15px;
}


/* Contain floats */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
}


.navbar .user-info  {
    /*background: url("../img/icons/32/user.png") no-repeat scroll left 8px transparent;*/
    font-size: 12px;
    color: #FFF;
}

.navbar .user-info span{
    padding-right: 10px;
}

.box-element {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 30px 0px 20px 20px;
}

.form-signin {
    margin: 0 auto;
    max-width: 365px;
    padding: 15px;
}


/*********************NAV BAR*********************/

.navbar {
    border: none;
    border-radius: 0px !important;
}

.dropdown-menu {
    border: none;
    box-shadow: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    display: none;
    position: absolute;
    margin-left: 1px;
    top: -7px;
    left: 100%;
}

.dropdown-submenu .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.dropdown-submenu:hover .dropdown-menu {
    display: block;
}

.navbar-form,
.input-group-addon,
.form-control {
    box-shadow: none;
    /* width: auto;*/
}

.input-group {
    margin-bottom: 4px;
}

.btn {
    transition: border-color .5s, background .5s;
}

.btn,
.btn:hover {
    border-color: transparent;
}

.center {
    text-align: center;
}

/* Default navigation bar */
.navbar-default,
.navbar-default .dropdown-menu {
    background: #60912b;
}

.navbar-default .navbar-right .dropdown-menu {
    background: #E4E4E8;
}

.navbar-default .navbar-brand {
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #FFFFFF;
    transition: color .5s;
}

.navbar-default .navbar-brand:hover {
    color: #E0E0E0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
    transition: background .25s, color .5s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #E0E0E0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .open > a {
    color: #FFFFFF;
    background: #00B599;
    transition: background .5s;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background: #00B599;
}

.navbar-default .dropdown-header,
.navbar-default .navbar-nav .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-default .navbar-nav .dropdown-menu > .disabled > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #E0E0E0;
}

.navbar-default .divider {
    background-color: #E0E0E0;
}

.navbar-default .btn {
    border-color: #60912b;
    background: #60912b;
    color: #FFFFFF;
}

.navbar-default .btn:hover {
    border-color: #00D9C0;
    background: #00D9C0;
    color: #FFFFFF;
}

.navbar-default .btn:focus {
    box-shadow: none;
    outline: none;
    border-color: #00B599;
    background: #00B599;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .dropdown a .caret,
.navbar-default .navbar-nav > .open > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    transition: border-color .5s;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #E0E0E0;
    border-bottom-color: #E0E0E0;
}

.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.navbar-default .badge {
    border-radius: 4px;
    background: #00B599;
}

.navbar-default .input-group-addon {
    background: #FFFFFF;
    color: #60912b;
}

.navbar-default .form-control:focus {
    border: 1px solid #60912b;
    box-shadow: none;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    outline: none;
    background-color: #00B599;
    border-color: #00B599;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-default .navbar-collapse {
    border-color: #E0E0E0;
}

/* Inverse navigation bar */
.navbar-inverse,
.navbar-inverse .dropdown-menu {
    background: #34495E;
}

.navbar-inverse .navbar-right .dropdown-menu {
    background: #34495E;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
    transition: color .5s;
}

.navbar-inverse .navbar-brand:hover {
    color: #60912b;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-nav .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
    transition: background .25s, color .5s;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #60912b;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a {
    color: #FFFFFF;
    background: #60912b !important;
    transition: background .5s;
}

.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background: #60912b;
}

.navbar-inverse .dropdown-header,
.navbar-inverse .navbar-nav .dropdown-menu > .disabled > a,
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-inverse .navbar-nav .dropdown-menu > .disabled > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
    color: #6F7982;
}

.navbar-inverse .divider {
    background-color: #6F7982;
}

.navbar-inverse .btn {
    border-color: #60912b;
    background: #60912b;
    color: #FFFFFF;
}

.navbar-inverse .btn:hover {
    border-color: #00C0EF;
    background: #00C0EF;
    color: #FFF;
}

.navbar-inverse .btn:focus {
    box-shadow: none;
    outline: none;
    border-color: #00B599;
    background: #00B599;
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav > .dropdown a .caret,
.navbar-inverse .navbar-nav > .open > a .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    transition: border-color .5s;
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #60912b;
    border-bottom-color: #60912b;
}

.navbar-inverse .navbar-nav > .open > a:hover .caret,
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.navbar-inverse .badge {
    border-radius: 4px;
    background: #60912b;
}

.navbar-inverse .input-group-addon {
    background: #FFFFFF;
    color: #60912b;
}

.navbar-inverse .form-control:focus {
    border: 1px solid #60912b;
    box-shadow: none;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    outline: none;
    background-color: #60912b;
    border-color: #60912b;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.navbar-inverse .navbar-collapse {
    border-color: #60912b;
}

@media (max-width: 767px) {
    .dropdown-submenu .dropdown-menu,
    .dropdown-submenu:hover .dropdown-menu {
        display: block;
        position: static;
        padding: 5px 25px;
    }

    .navbar-form {
        margin: auto;
    }
}

.img-circle {
    border-radius: 50%;
    width: 58px;
}

.notifications.dropdown .dropdown-menu > li > ul > li .image .img-circle {
    border: 2px solid #FFF;
}

.page-container.horizontal-menu header.navbar ul.nav > li.dropdown .dropdown-menu > li > ul > li .image .img-circle {
    border: 2px solid #FFF;
}

/******* FLASH MESSAGE *******/

.flash_message {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: -moz-use-text-color #1c556d #1c556d;
    border-image: none;
    border-right: 1px solid #1c556d;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);

    color: #fff;
    line-height: 19px;
    margin: auto;
    overflow: hidden;
    padding: 8px 10px 10px;
    width: 548px !important;

    /*BugFix*/
    position: relative;
    top: -20px;
}

.flash_message.error {
    background: none repeat scroll 0 0 padding-box #d9534f;
    border-color: #d9534f;
}

.flash_message.info {
    background: none repeat scroll 0 0 padding-box #428bca;
    border-color: #428bca;
}

.flash_message.warning {
    background: none repeat scroll 0 0 padding-box #f0ad4e;
    border-color: #f0ad4e;
}

.flash_message.success {
    background: none repeat scroll 0 0 padding-box #5cb85c;
    border-color: #5cb85c;
}

.flash_message .close_button {
    /*background: url("../images/close_message.png") no-repeat scroll center top transparent;*/
    margin: -18px 0px 0px 0px;
    cursor: pointer;
    height: 18px;
    width: 18px;
}

.label-low {
    background-color: #0073b7;
}

.label-normal {
    background-color: #49bf67;
}

.label-urgent {
    background-color: #f34541;
}

.label-high {
    background-color: #f8a326;
}

.label-immediate {
    background-color: #cda70d;
}

/******* CUSTOM PAGINATION *******/

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover, .pagination > .active > span:hover,
.pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #60912b !important;
    border-color: #60912b !important;
}

/******* Dashboard ************/

.tile-stats {
    position: relative;
    display: block;
    background: #303641;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.tile-stats.tile-red {
    background: #f56954;
}

.tile-stats.tile-green {
    background: #00a65a;
}

.tile-stats.tile-blue {
    background: #0073b7;
}

.tile-stats.tile-aqua {
    background: #00c0ef;
}

.ui-datepicker-trigger {
    cursor: pointer;
}

div.ui-datepicker {
    font-size: 14px;
}

/* =============================================================================
   Tables
   ========================================================================== */

.box-element .box-head-light {
    border-radius: 3px 3px 0px 0px;
    padding: 2px 0px 2px 12px;
    background-color: #444;
    color: #eee;
    text-shadow: 0px 1px 0px #000;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

table.i-table {
}

table.i-table thead td, table.i-table tfoot td, table.i-table thead tr:hover td, table.i-table tfoot tr:hover td {
    background-color: #F4F4F4 !important;
}

table.i-table thead td {
    border-bottom: 1px solid #E3E3E3;
    font-weight: bold;
}

table.i-table tfoot td {
    border-top: 1px solid #E3E3E3;
}

table.i-table.fullwidth {
    width: 100%;
}

table.i-table.border {
    border: 1px solid #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

table.i-table td {
    padding: 7px 0px 0px 20px;
}

table.i-table tr:hover td {
    background-color: #ebf5f8 !important;
}

table.i-table tr.light td {
    background-color: #fff;
}

table.i-table tr.dark td {
    background-color: #F9F9F9;
}

.table_info{
    float: left;
    height: 22px;
    line-height: 22px;
    padding: 10px 20px;
    width: 40%;
}

.button-action{
    width: 210px;
    text-align: center;

}
.button-action a{
    margin-bottom: 5px
}
.navigation {
    float: right;
    padding: 10px 20px;
    text-align: right;
    line-height: 22px;
}

.navigation span{
    background-color: #F5F5F5;
    border: 1px solid #E7E7E7;
    border-bottom:1px solid #D7D7D7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
}

.navigation a{
    text-decoration : none;
    color: #444;
}

.navigation .pagination{
    margin: 0px;
}

.navigation span:hover {
    box-shadow:0 1px 0 #FFFFFF inset, 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #F9F9F9;
}

.navigation span.current {
    background-color: #60912B;
    color:#fff;
    text-shadow: 0px 1px 0px #000;
}
